.ipynb_checkpoints
*.log
*.pyc
outputs
TargetChemicalModels
.vscode
*.sh
analysisTools/
results/
*.ipynb
results_tmp/
results_tmp2/
results_*/
out/
resource*/
2024_prev
config/specific_configs/*
analysis_2024